# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so

# Database
*.db
*.sqlite3

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Export files
exports/
*.csv
*.xlsx

# Logs
*.log